{require_min_otp_vsn, "R15"}.
{port_env, [
    %% Default darwin ldflags causes loading of system libs. Removed -bundle flag. 
    {"darwin", "DRV_LDFLAGS", 
        "-flat_namespace -undefined suppress $ERL_LDFLAGS"},
    {"linux", "LDFLAGS", "$LDFLAGS -lcrypto"}
]}.
{port_specs, [
  {"priv/ecrypt_nif.so", ["c_src/ecrypt_nif.c"]}
]}.
